<h1>Angular router app</h1>

<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a routerLink="/" class="nav-link active">Home</a></li>
    <li class="nav-item"><a routerLink="/help" class="nav-link active"> Help</a></li>
    <li class="nav-item"><a routerLink="/contact" class="nav-link active"> Contact</a></li>
    <li class="nav-item"><a routerLink="/demo" class="nav-link active"> Demo</a></li>
    <li class="nav-item"><a routerLink="/addProduct" class="nav-link active"> Add Product</a></li>
    <li class="nav-item"><a routerLink="/displayAllProduct" class="nav-link active"> Display All Product</a></li>
    <li class="nav-item"><a routerLink="/reactive" class="nav-link active"> Reactive forms</a></li>
  </ul>
</nav>



<router-outlet></router-outlet>